In [2]:
import numpy as np
import pandas as pd
import openpyxl
import os 
import xlrd
# Setting Directory
os.chdir('G:/Other computers/My Laptop/VACP/')

In [33]:
data_no=pd.read_excel("../VACP/Bao cao No phai thu/Báo cáo công nợ phải thu theo hạn thanh toán.xls",
                            skipfooter=1,header=6,sheet_name='Báo cáo công nợ phải thu theo h').dropna(subset=['Ngày']).reset_index(drop=True)
# data_no.loc[0:5,["Ngày","Mã","Tổng số nợ"]]
data_no.head()

,Ngày,Số,Unnamed: 2,Unnamed: 3,Unnamed: 4,Trong hạn,1 - 7,8 - 14,15 - 21,> 22,Tổng số nợ,Unnamed: 11,Mã,Tên,Unnamed: 14,Unnamed: 15
0,2022-09-06,VAPC060922-031,Chuyển,1980000,0,0,0,0,1980000,0,1980000,15.0,AEA,Công Ty TNHH Phụ Tùng Ô TÔ AEA,0,0
1,2022-09-07,VAPC070922-022,Chuyển,1100000,0,0,0,1100000,0,0,1100000,14.0,AEA,Công Ty TNHH Phụ Tùng Ô TÔ AEA,0,0
2,2022-09-07,VAPC070922-029,Chuyển,2720000,120000,0,0,2600000,0,0,2600000,14.0,AEA,Công Ty TNHH Phụ Tùng Ô TÔ AEA,0,0
3,2022-09-07,VAPC070922-047,Chuyển,340000,0,0,0,340000,0,0,340000,14.0,AEA,Công Ty TNHH Phụ Tùng Ô TÔ AEA,0,0
4,2022-09-08,VAPC080922-061,Chuyển,1350000,0,0,0,1350000,0,0,1350000,13.0,AEA,Công Ty TNHH Phụ Tùng Ô TÔ AEA,0,0

In [38]:
# Tạo ID Date Ngày
data_no["Năm"]=data_no["Ngày"].dt.year
data_no["Tháng"]=data_no["Ngày"].dt.month
data_no["ID Date"]=data_no["Ngày"].dt.year.astype(str)+"-"+data_no["Ngày"].dt.month.astype(str)

# Group Tổng Nợ ngày
data_no_thang=data_no.groupby(['Mã','Năm','Tháng'],as_index=False)["Tổng số nợ"].sum()
data_no_thang

                  Mã   Năm  Tháng  Tổng số nợ
0                AEA  2022      9    60187000
1                AEA  2022     10    16360000
2              ANGAU  2022      2   105895851
3              ANGAU  2022      3    68715000
4              ANGAU  2022      4   113836000
..               ...   ...    ...         ...
237         TRUNGBMT  2022     10     7764375
238      TRUNGNAM-VT  2022      9     5150000
239  TRUNGNUOCMATBMT  2022      9    53270000
240        TUANPHONG  2022      9    31824500
241          VANPHAT  2022      9    14060000

[242 rows x 4 columns]

In [40]:
data_no_show=data_no_thang.merge(data_no[["Mã","Tên"]],on="Mã",how='left')
data_no_show=data_no_show[["Năm","Tháng","Mã","Tên","Tổng số nợ"]].drop_duplicates(subset=['Mã','Năm','Tháng'],keep='first').reset_index(drop=True)
data_no_show

,Năm,Tháng,Mã,Tên,Tổng số nợ
0,2022,9,AEA,Công Ty TNHH Phụ Tùng Ô TÔ AEA,60187000
1,2022,10,AEA,Công Ty TNHH Phụ Tùng Ô TÔ AEA,16360000
2,2022,2,ANGAU,CHPT A Ngầu,105895851
3,2022,3,ANGAU,CHPT A Ngầu,68715000
4,2022,4,ANGAU,CHPT A Ngầu,113836000
...,...,...,...,...,...
237,2022,10,TRUNGBMT,CHPT ô tô Linh Quân (BMT),7764375
238,2022,9,TRUNGNAM-VT,Gara Trung Nam VT (chị Nhung),5150000
239,2022,9,TRUNGNUOCMATBMT,Trung Nước Mát BMT,53270000
240,2022,9,TUANPHONG,CHPT Tuấn Phong(Tuấn ưu Thịnh),31824500
241,2022,9,VANPHAT,Công ty TNHH phụ tùng Vạn Phát ( A Lương ),14060000

In [37]:
# EXPORT FILE DATA
with pd.ExcelWriter('../VACP/Bao cao No phai thu//Report.xlsx') as writer:
    data_no_show.to_excel(writer,sheet_name="Tổng hợp")